Repository GAIGResearch/TabletopGames, pull requests merged in 2025-05, with the labels that each got.

#318 Backgammon
  pom.xml
  src/main/java/evaluation/optimisation/NTBEA.java
  src/main/java/evaluation/tournaments/RoundRobinTournament.java
  src/main/java/evaluation/tournaments/SkillLadder.java
  src/main/java/games/GameType.java
  src/main/java/games/backgammon/BGForwardModel.java
  src/main/java/games/backgammon/BGGUIManager.java
  src/main/java/games/backgammon/BGGameState.java
  src/main/java/games/backgammon/BGParameters.java
  src/main/java/games/backgammon/BackgammonBoardView.java
  src/main/java/games/backgammon/MovePiece.java
  src/main/java/games/root/RootParameters.java
  src/main/java/players/mcts/MCTSParams.java
  src/test/java/games/backgammon/BasicMoves.java
  src/test/java/games/fmtester/ForwardModelTestsWithMCTS.java
Labels: New game

#319 Dominion Improvements
  src/main/java/core/AbstractGameState.java
  src/main/java/core/StandardForwardModel.java
  src/main/java/core/interfaces/IExtendedSequence.java
  src/main/java/evaluation/optimisation/TunableParameters.java
  src/main/java/games/GameType.java
  src/main/java/games/catan/actions/build/BuyAction.java
  src/main/java/games/catan/actions/dev/DeepRoadBuilding.java
  src/main/java/games/catan/actions/dev/DeepYearOfPlenty.java
  src/main/java/games/catan/actions/dev/PlayDevCard.java
  src/main/java/games/catan/actions/discard/DiscardResourcesPhase.java
  src/main/java/games/catan/actions/trade/DeepConstructNewOffer.java
  src/main/java/games/catan/actions/trade/DeepCounterOffer.java
  src/main/java/games/catan/actions/trade/DeepDefaultTrade.java
  src/main/java/games/descent2e/actions/AttributeTest.java
  src/main/java/games/descent2e/actions/attack/TriggerAttributeTest.java
  src/main/java/games/descent2e/actions/herofeats/HeroicFeatExtraMovement.java
  src/main/java/games/descent2e/actions/monsterfeats/Howl.java
  src/main/java/games/dominion/DominionForwardModel.java
  src/main/java/games/dominion/DominionGameState.java
  src/main/java/games/dominion/DominionParameters.java
  src/main/java/games/dominion/actions/AttackReaction.java
  src/main/java/games/dominion/actions/CouncilRoom.java
  src/main/java/games/dominion/actions/Library.java
  src/main/java/games/dominion/actions/Militia.java
  src/main/java/games/dominion/actions/MoveCard.java
  src/main/java/games/dominion/actions/Vassal.java
  src/main/java/games/dominion/actions/Workshop.java
  src/main/java/games/dominion/cards/CardType.java
  src/main/java/games/dominion/cards/DominionCard.java
  src/main/java/games/dominion/metrics/DominionMetrics.java
  src/main/java/games/monopolydeal/MonopolyDealGameState.java
  src/main/java/games/monopolydeal/actions/DiscardCard.java
  src/main/java/games/monopolydeal/actions/actioncards/DealBreakerAction.java
  src/main/java/games/monopolydeal/actions/actioncards/DebtCollectorAction.java
  src/main/java/games/monopolydeal/actions/actioncards/ForcedDealAction.java
  src/main/java/games/monopolydeal/actions/actioncards/ItsMyBirthdayAction.java
  src/main/java/games/monopolydeal/actions/actioncards/MulticolorRentAction.java
  src/main/java/games/monopolydeal/actions/actioncards/PayRent.java
  src/main/java/games/monopolydeal/actions/actioncards/PlayActionCard.java
  src/main/java/games/monopolydeal/actions/actioncards/PropertyRentAction.java
  src/main/java/games/monopolydeal/actions/actioncards/SlyDealAction.java
  src/main/java/games/monopolydeal/actions/boardmanagement/AddToBoard.java
  src/main/java/games/monopolydeal/actions/boardmanagement/ModifyBoard.java
  src/main/java/games/monopolydeal/actions/informationcontainer/MoveCardFromTo.java
  src/main/java/games/monopolydeal/actions/informationcontainer/PayCardFrom.java
  src/main/java/games/monopolydeal/actions/informationcontainer/RentOf.java
  src/main/java/games/monopolydeal/actions/informationcontainer/TargetPlayer.java
  src/main/java/games/monopolydeal/cards/MonopolyDealCard.java
  src/main/java/games/monopolydeal/cards/PropertySet.java
  src/main/java/games/puertorico/roles/PuertoRicoRole.java
  src/main/java/games/root/actions/extended/CatBuildSequence.java
  src/main/java/games/root/actions/extended/OverworkSequence.java
  src/test/java/games/dominion/BaseActionCardsTest.java
  src/test/java/games/dominion/TestFullObservabilityCopy.java
  src/test/java/games/fmtester/ForwardModelTestsWithMCTS.java
Labels: game update

#321 Implementing Chess
  .gitignore
  data/chess/bB.png
  data/chess/bK.png
  data/chess/bN.png
  data/chess/bP.png
  data/chess/bQ.png
  data/chess/bR.png
  data/chess/wB.png
  data/chess/wK.png
  data/chess/wN.png
  data/chess/wP.png
  data/chess/wQ.png
  data/chess/wR.png
  pom.xml
  src/main/java/core/Game.java
  src/main/java/core/components/BoardNode.java
  src/main/java/core/components/GridBoard.java
  src/main/java/games/GameType.java
  src/main/java/games/chess/ChessBoardView.java
  src/main/java/games/chess/ChessForwardModel.java
  src/main/java/games/chess/ChessGUIManager.java
  src/main/java/games/chess/ChessGameState.java
  src/main/java/games/chess/ChessParameters.java
  src/main/java/games/chess/actions/Castle.java
  src/main/java/games/chess/actions/EnPassant.java
  src/main/java/games/chess/actions/MovePiece.java
  src/main/java/games/chess/actions/Promotion.java
  src/main/java/games/chess/components/ChessBoard.java
  src/main/java/games/chess/components/ChessPiece.java
  src/test/java/games/chess/ActionTests.java
  src/test/java/games/fmtester/ForwardModelTestsWithMCTS.java
  src/test/java/games/fmtester/ForwardModelTestsWithRandom.java
Labels: New game

#322 Exploding Kittens changes
  src/main/java/games/explodingkittens/ExplodingKittensForwardModel.java
  src/main/java/games/explodingkittens/ExplodingKittensParameters.java
  src/main/java/games/explodingkittens/metrics/ExplodingKittensMetrics.java
Labels: enhancement
